body{
    background: linear-gradient(203deg, #050505, #6ca19a);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 42s ease infinite;
    -moz-animation: AnimationName 42s ease infinite;
    animation: AnimationName 42s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:58% 0%}
    50%{background-position:43% 100%}
    100%{background-position:58% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:58% 0%}
    50%{background-position:43% 100%}
    100%{background-position:58% 0%}
}
@keyframes AnimationName {
    0%{background-position:58% 0%}
    50%{background-position:43% 100%}
    100%{background-position:58% 0%}
}

section{
    margin-top: 5%;
    color: white;
}

.row{
    padding: 0px 10px;
    width: fit-content;
    margin: auto;
    font-size: 2rem;
    background: rgba(31,32,32,0.5);
}

.col{
    padding: 2px 2px;
}

#displayy
{
    padding: 20px 15px;
    width: 43.8vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

section .row:last-of-type
{
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1{
    margin-bottom: 0px;
}

button{
    padding:0px 0px;
    width: 10vh;
    height: 10vh;
    color: white;
    background-color: rgba(19,19,19,0.5);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    transition: background-color 0.6s;
}

.digit button{
    background-color: rgba(0,0,0,0.7);
}

button:hover{
    background-color: rgba(74, 83, 83, 0.6);
    cursor: pointer;
}

button:active{
    background-color: rgba(252, 252, 252, 0.6);
}

#display2{
    font-size: 1.4rem;
}


